<article class="slider">

    <input type="radio" name="billboard" id="billboard1" class="slide1" checked />
    <input type="radio" name="billboard" id="billboard2" class="slide2" />
    <input type="radio" name="billboard" id="billboard3" class="slide3" />
    <input type="radio" name="billboard" id="billboard4" class="slide4" />
  
    <div class="slides">
      <div class="inner">
              
          <picture>
            <source
              srcset="https://i.ytimg.com/vi/gDuc5z_xmfQ/maxresdefault.jpg"
              media="(min-width: 520px)">
              <img
                src="https://i.ytimg.com/vi/gDuc5z_xmfQ/maxresdefault.jpg"
                 />
          </picture>
        
  
        <picture>
            <source
              srcset="http://nerdreactor.com/wp-content/uploads/2014/09/the-hobbit-the-battle-of-the-five-armies-tapestry-artwork-thumb.jpg"
              media="(min-width: 520px)">
          <img
            src="http://nerdreactor.com/wp-content/uploads/2014/09/the-hobbit-the-battle-of-the-five-armies-tapestry-artwork-thumb.jpg" />
        </picture>
  
        <picture>
          <source
            srcset="https://heavy.com/wp-content/uploads/2019/10/the-witcher-release-date.jpg?quality=65&strip=all"
            media="(min-width: 520px)">
          <img
            src="https://heavy.com/wp-content/uploads/2019/10/the-witcher-release-date.jpg?quality=65&strip=all" />
        </picture>
  
        <picture>
          <source
            srcset="https://atolkienistperspective.files.wordpress.com/2016/10/the-hobbit-book-cover-banner.jpg"
            media="(min-width: 520px)">
          <img
            src="https://atolkienistperspective.files.wordpress.com/2016/10/the-hobbit-book-cover-banner.jpg" />
        </picture>
      </div> <!-- .inner -->
    </div> <!-- .slides -->
  
    <div class="controls">
      <label for="billboard1"></label>
      <label for="billboard2"></label>
      <label for="billboard3"></label>
      <label for="billboard4"></label>
    </div>
    
       
        
      
  
  </article>
  