.author-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .author-name {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  @media (max-width: 600px) {
    .author-name {
      font-size: 1rem;
    }
    .author-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: .5rem;
      margin-right: .5rem;
      padding-right: 1.5rem;
    }
    
  }